* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: hsl(0, 0%, 12%);
  gap: 1rem;
  border-radius: 1rem;
}
img {
  border-radius: 100%;
  width: 70px;
  margin-top: 2rem;
}
.container h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
p {
  font-size: 10px;
}
.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
 
}
.occupation {
  margin: 0 1.3rem;
  color: hsl(0, 0%, 100%);
}
button {
  width: 15rem;
  height: 2rem;
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}
button:hover {
  background-color: hsl(75, 94%, 57%);
}
button:nth-child(9) {
  margin-bottom: 2rem;
}

.attribution {
  margin: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
